{% extends 'base.html.twig' %}

{% block title %}
	Prendre rendez-vous
{% endblock %}

{% block main %}
	<h2 class="title">Séance d'accompagnement holistique en Terre d'énergie à Auray en Bretagne</h2>
	<p class="text">Je vous accueille à Auray, dans un cadre de bienveillance, de confidentialité, de respect, d’écoute et de douceur sans jugement de la personne, cet espace est harmonisé avec la géométrie sacrée.</p>
	<p class="text">Déplacements possibles sous condition, également séances sur lieux énergétiques en extérieurs. Les séances en distanciel se font par téléphone ou visioconférence via WhatsApp.</p>
	<hr />
	<div class="container m-0 p-0">
		<div class="row">
			<div class="col-md-8 m-0 p-0">
				<h2 class="title">Cabinet à Auray</h2>
				<p class="text">Centre ville - 4 rue du Four Mollet 56400 Auray</p>
			</div>
			<div class="col-md-4 p-3 border rounded-3 shadow-sm bg-light">
				<iframe class="w-100" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.942311799399!2d-2.991124022993086!3d47.66611707119531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48101440192e4fe9%3A0x465ac5cb61b4d96e!2s4%20Rue%20du%20Four%20Mollet%2C%2056400%20Auray!5e0!3m2!1sfr!2sfr!4v1741801259059!5m2!1sfr!2sfr"></iframe>
			</div>
		</div>
		<hr />
	</div>
	<h2 class="title">Contact</h2>
	<p class="text">Uniquement sur RDV par téléphone / SMS ou WhatsApp : <a href="tel:0652217095" class="link"><b>06 52 21 70 95</b></a></p>
	<p class="text">Mail : <a href="mailto:cecilia.gampp@gmail.com" class="link">cecilia.gampp@gmail.com</a></p>
	<p class="text">Pour un traitement plus rapide de votre demande de rendez-vous, n'hésitez pas à envoyer un sms/texto.</p>
	<hr />
	<h2 class="title">Informations supplémentaires</h2>
	<p class="text">Disponible du <b>Lundi au Samedi</b> de <b>10h à 19h</b>.</p>
	<p class="text"><b>Paiements acceptés</b> : espèces, chèque, carte bancaire, virement bancaire</p>
	<p class="text">TVA non applicable, article 293B du Code Général des Impôts.</p>
	<p class="text">Les séances énergétiques et holistiques ne remplacent ni ne se substituent en aucun cas à un avis médical.</p>
	<p class="text">Les échanges sont confidentiels.</p>
{% endblock %}