{% extends 'base.html.twig' %}

{% block title %}
	Prendre rendez-vous
{% endblock %}

{% block content %}
<h2>Séance d'accompagnement holistique en Terre d'énergie à Auray en Bretagne</h2>
<p>Je vous accueille à Auray, dans un cadre de bienveillance, de confidentialité, de respect, d’écoute et de douceur sans jugement de la personne, cet espace est harmonisé avec la géométrie sacrée.</p>
<p>Déplacements possibles sous condition, également séances sur lieux énergétiques en extérieurs. Les séances en distanciel se font par téléphone ou visioconférence via WhatsApp.</p>
<hr />
<h2>Cabinet à AURAY</h2>
<p>Centre ville -  4 rue du Four Mollet 56400 Auray</p>
<hr />
<h2>Contact</h2>
<p>Uniquement sur RDV par téléphone / SMS ou WhatsApp : <a href="tel:0652217095" class="link">06 52 21 70 95</a></p>
<p>Mail : <a href="mailto:cecilia.gampp@gmail.com" class="link">cecilia.gampp@gmail.com</a></p>
<p>Pour un traitement plus rapide de votre demande de rendez-vous, n'hésitez pas à envoyer un sms/texto.</p>
<hr />
<h2>Informations supplémentaires</h2>
<p>Disponible du Lundi au Samedi de 10h à 19h.</p>
<p>Paiements acceptés : espèces, chèque, carte bancaire, virement bancaire</p>
<hr />
<p>TVA non applicable, article 293B du Code Général des Impôts.</p>
<p>Les séances énergétiques et holistiques ne remplacent ni ne se substituent en aucun cas à un avis médical.</p>
<p>Les échanges sont confidentiels.</p>
{% endblock %}