{% extends 'base.html.twig' %}

{% block title %}
	Informations légales
{% endblock %}

{% block content %}
<!-- CGV -->
<h2>CGV - Conditions Générales de Vente</h2>
<p>Les présentes conditions générales de vente sont conclues entre d’une part le prestataire, Cécilia GAMPP, et d’autre part, toute personne physique ou morale souhaitant bénéficier de ses prestations, et dénommée ci-après "le client". Elles visent à définir les relations contractuelles entre le prestataire et le client. L’acquisition d’une prestation implique une acceptation sans réserve par le client des présentes conditions générales de vente. Ces conditions générales de vente prévaudront sur toutes autres conditions générales ou particulières non expressément agréées par le prestataire qui se réserve le droit de pouvoir modifier ses conditions générales de vente à tout moment. Dans ce cas, les conditions applicables seront celles en vigueur à la date de l'achat par le client. Les présentes conditions générales de vente sont soumises à la loi française.</p>
<p>Les prestations proposées sont celles indiquées en page "Tarifs" et décrites en pages d'accueil.</p>
<p>Les tarifs indiqués sont exprimés en euro (€), sans TVA, car non applicable (article 293B du Code Général des Impôts). Le prix est exigible le jour de la prestation ou de l'achat d'un bon-cadeau. Le règlement peut être fait par chèques, espèces, virement bancaire ou carte bancaire.  Une facture sera fournie sur simple demande.</p>
<p>Pour les interventions à domicile, des frais de déplacement pourront être facturés en fonction de la localisation du client. Leur montant sera annoncé lors de la prise de rendez-vous.</p>
<p>Les bons-cadeaux ont une durée de validité de six mois. Au-delà de leur date de validité, ils ne peuvent être ni remboursés, ni échangés contre la prestation prévue ou une autre.</p>
<p>Les prestations proposées ne peuvent pas donner lieu à un remboursement par la Sécurité Sociale.</p>
<p>Le prestataire a souscrit une assurance en Responsabilité Civile Professionnelle.</p>
<p>En cas de litige, compétence est attribuée aux tribunaux compétents.</p>
<!-- Mentions légales -->
<h2>Mentions légales</h2>
<p><b>Enseigne :</b> CECILIA GAMPP<br>
<b>Propriété du site :</b> Cécilia GAMPP EI<br>
<b>Siège social :</b> 4 rue du Four Mollet, 56400 Auray<br>
<b>Téléphone :</b> 06 52 21 70 95<br>
<b>Courriel :</b> cecilia.gampp@gmail.com<br>
<b>SIRET :</b> 79049154200011<br>
<b>Code APE :</b> 9609Z<br>
<b>Directrice de la publication :</b> Cécilia GAMPP EI<br>
<b>Responsable de la rédaction :</b>  Cécilia GAMPP EI<br>
<b>Hébergeur du site :</b> Webedia, 2 rue Paul Vaillant Couturier, 92532 Levallois-Perret</p>
<!--Protection données personnelles -->
<h2>Protection des données personnelles</h2>
<p>Les données personnelles sont fournies volontairement par l’intermédiaire du formulaire de contact et/ou lors de votre premier rendez-vous, et ne feront l'objet d'aucune cession de la part de Cécilia Gampp.</p>
<p>En raison du caractère privé, les utilisateurs et clients sont informés qu'ils disposent sur simple demande auprès de Cécilia Gampp, d'un droit d'accès et de rectification à leurs informations nominatives.</p>
<!-- Autres -->
<h2>Rappel sur le magnétisme et les autres techniques proposées</h2>
<p>Le magnétisme et les autres techniques proposées en séance énergétique s'inscrivent dans la mise en place du bien-être globale et durable, en complémentarité des pratiques de la médecine conventionnelle auxquelles elles ne peuvent se substituer.</p>
{% endblock %}