{% extends 'base.html.twig' %}

{% block title %}
	Chromothérapie cristalline - Ciel de Cristal
{% endblock %}

{% block main %}
<div class="chromotherapie-container mx-auto">
    <div class="row d-flex align-items-center justify-content-between mt-5 mb-5">
        <div class="col-md-8">
            <p class="text">Les séances en <strong>chromothérapie cristalline</strong> sous le ciel de cristal <strong>amplifient l'énergie</strong> pour le corps et l'esprit. <strong>Réaligne, rééquilibre les chakras et les corps subtils</strong> permettant de résoudre certaines difficultés. Permet de <strong>dynamiser le champ d'énergie</strong> et de <strong>déprogrammer les mémoires enkystées</strong>.</p>
            <p class="text">Séance holistique et quantique par excellence, tous les bienfaits de la <strong>luminothérapie</strong>, la <strong>chromothérapie</strong>, la <strong>lithothérapie</strong> et de la <strong>géométrie sacrée</strong>, <strong>amplifient les ressentis</strong> et les <strong>connexions sacrées</strong>. Il facilite les <strong>états modifiés de conscience</strong> aux ondes <strong>Alpha</strong> et <strong>Thêta</strong>. Facilite la méditation.</p>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <img src="{{ asset('images/chromotherapie.jpg') }}" alt="Alignement de cristaux des différentes couleurs utilisées en chromothérapie" class="img-fluid" style="max-width: 100%; height: auto; margin-right: 80px;" />
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-between mt-5 mb-5">
        <div class="col-md-4">
            <img src="{{ asset('images/chromotherapie2.png') }}" alt="Cristaux violet et rose" class="img-fluid" style="max-width: 100%; height: auto; margin-left: 80px;" />
        </div>
        <div class="col-md-8">
            <p class="text">Le dispositif est équipé de 7 cristaux Vogel. Un cristal Vogel est un cristal de roche très pur, taillé à 12 facettes selon la géométrie sacrée et polarisé émetteur/récepteur (masculin/féminin). Les cristaux sont traversés par un faisceau de lumière pulsée et munis de 7 filtres issus de la chromothérapie correspondant aux fréquences couleur des 7 chakras majeurs. Chacun de ces cristaux de Quartz a été réglé à une fréquence spécifique.</p>
            <p class="text"><strong>Chaque chakra gère le bon équilibre des glandes endocrines et de l'ensemble du métabolisme.</strong></p>
            <p class="text">Lorsque les chakras sont déséquilibrés, tous les autres aspects de nous-mêmes sont également perturbés. Lorsque les énergies subtiles du corps humain sont harmonisées, le <strong>mécanisme d’autoguérison naturel de notre organisme redevient capable de fonctionner comme il est conçu pour le faire</strong>. Il <strong>nettoie</strong> et <strong>recharge</strong> le corps d'énergie et crée une profonde relaxation. Il procure également un <strong>effet préventif</strong> et <strong>peut éviter certaines pathologies ou mal-être. Un bon alignement des chakras est un gage de bonne santé.</strong></p>
        </div>
    </div>

    <table class="m-auto chromo-table">  
        <tr>
            <td class="text pe-5">Réduit le stress et la fatigue</td>
            <td class="text ps-5">Apporte un bien-être général</td>
        </tr>
        <tr>
            <td class="text pe-5">Améliore la qualité du sommeil</td>
            <td class="text ps-5">Apporte une clarté d'esprit</td>
        </tr>
        <tr>
            <td class="text pe-5">Augmente le niveau d'énergie et de motivation</td>
            <td class="text ps-5">Apporte un meilleur ancrage</td>
        </tr>
        <tr>
            <td class="text pe-5">Apporte une relaxation intense et profonde</td>
            <td class="text ps-5">Diminue les tensions nerveuses</td>
        </tr>
        <tr>
            <td class="text pe-5">Remet en marche le mécanisme d'auto-guérison du corps</td>
            <td class="text ps-5">Apporte une aide à la procréation</td>
        </tr>
        <tr>
            <td class="text pe-5">Remonte les défenses immunitaires</td>
            <td class="text ps-5">Apporte une meilleure connexion à soi</td>
        </tr>
        <tr>
            <td class="text pe-5">Permet de mieux gérer des émotions lourdes</td>
            <td class="text ps-5">Réaligne la personne dans son axe énergétique</td>
        </tr>
        <tr>
            <td class="text pe-5">Purifie les chakras et les corps subtils</td>
            <td class="text ps-5">Permet d'obtenir un aperçu sur son chemin de vie</td>
        </tr>
        <tr>
            <td class="text pe-5">Permet d'obtenir la cause de son état pathologique ou mal-être</td>
            <td class="text ps-5">Reconnecte avec des vies antérieures</td>
        </tr>
        <tr>
            <td class="text pe-5">Permet des contacts avec les défunts</td>
            <td class="text ps-5">Apporte une compréhension spirituelle plus profonde</td>
        </tr>
        <tr>
            <td class="text pe-5">Permet de rentrer en méditation pour un éveil spirituel</td>
            <td class="text ps-5">Permet une rencontre avec ses guides</td>
        </tr>
        <tr>
            <td class="text pe-5">Facilite les moments de deuils</td>
            <td class="text ps-5">A la rencontre de messages divins sur son chemin</td>
        </tr>
    </table> 
    <p class="text">Sur un cycle de 3 semaines (1 séance/semaine), nous allons poser l'intention ensemble sur 3 sujets sur lesquels vous souhaitez activer un changement puis j'ajuste la fréquence chromatique à votre besoin et j'informe les cristaux vogels.</p>
    <div class="text-center m-5">🦋🦋🦋</div>
    <p class="text">Le nombre de séance dépend du niveau de vibration de la personne et la raison pour laquelle elle fait cette démarche. Par exemple les séances peuvent être de 2 à 3 par semaine, jusqu'à ce que son état vibratoire augmente. Puis, elle peut réduire la fréquence hebdomadaire à 1 séance, puis à 1 tous les mois.</p>
    <p class="text">Si la personne souhaite des séances pour une raison énergétique et/ou spirituelle, 1 séance par semaine à 1 par mois est suffisante. Certaines personnes préfèrent y venir quand elles en ressentent le besoin et d'autres viennent sur une base régulière.</p>
    <p class="text"><strong>Pour un vrai travail de fond 3 à 4 séances sont souvent recommandées espacées d'1 semaine environ.</strong></p>
    <h2 class="title">Pour une question de fréquence, merci de venir avec des vêtements blancs.</h2>
    <p class="text">Après la séance, il est conseillé de boire beaucoup d'eau pour aider le corps à se débarasser des toxines et des déchets qui ont tendance à être libérer par l'action de ce nettoyage énergétique et de se reposer afin d'assimiler entièrement l'expérience. Il peut être utile de noter les sensations qui peuvent se produire au cours de la séance, pour aider à intégrer et à ancrer l'expérience dans sa vie.</p>
    <p class="text">Il peut y avoir un temps d'intégration de la séance, les ressentis peuvent mettre quelques jours à se faire sentir... Et celui-ci va continuer d'agir sur plusieurs jours voir plusieurs semaines. Je reste en lien avec vous par la suite pour des retours...</p>
    <!-- Section tarif -->
    <h2 class="title">Tarif</h2>
    <p class="text">Durée d'une séance : environ 40min + temps d'échange</p>
    <table>
        <tr>
            <th class="text"><b>Séance à l'unité</th>
            <td class="text"><b>50€<b></td>
        </tr>
    </table>
    <p class="text">Paiements acceptés : espèces, chèque, carte bancaire, virement bancaire</p>
    <img src="" alt="" />
    <p class="text">Carte cadeau en vente par mail : cecilia.gampp@gmail.com</p>

    {{ include("partials/_contact.html.twig") }}
</div>
{% endblock %}