{% extends 'base.html.twig' %}

{% block title %}
	Mémoire cellulaire - Libération transgénérationnelle
{% endblock %}

{% block main %}
<!-- Section d'introduction -->
<h2>Renaître à soi-même - Révélez votre potentiel<br>Voyage au coeur de la mémoire cellulaire</h2>
<p>La <strong>libération des mémoires cellulaires transgénérationnelles</strong>, émotionnelles et karmiques se concentre sur un <strong>plan temporel</strong>, ce <strong>voyage de la mémoire cellulaire</strong> s'opère à travers l'espace temps et va déloger les cristallisations issues de l'<strong>empreinte énergétique</strong> acquise lors de notre période de conception, gestation, notre naissance, l’héritage ADN, ainsi que tout ce qui nous a façonné jusqu’à présent.<p>
<!-- Section de description de la méthode -->
<h2>Méthode révolutionnaire</h2>
<p>Méthode issue du massage métamorphique (prénatothérapie) de Robert St John (naturopathe et réflexologue britannique dans les années 60).</p>
<blockquote>
<p>"Robert St John avait observé que le travail sur la zone réflexe de la colonne vertébrale au niveau des pieds, des mains et de la tête, au-delà d’une influence sur le physique, avait principalement une incidence sur le psychisme.<br><br>C’est en soi un principe révolutionnaire. Les bases complètes de son travail sont issues de sa pratique en naturopathie, en réflexologie et du travail de rééducation qu’il a effectué auprès d'enfants autistes.<br><br>Robert St John avait une connaissance profonde de la période prénatale et cette technique «métamorphique» permet de revenir à la source de nos blocages et d’en nettoyer directement les mémoires tout en libérant notre lignée."</p>
</blockquote>
<p><strong>Toutes les émotions que nous avons stockées dans nos cellules, dans nos souvenirs, dans notre éducation et expérience de vie nous conditionnent et continuent de nous influencer dans nos choix et notre vécu.</strong></p>
<p>En nous reconnectant à notre période prénatale et en travaillant sur les plans physiques et subtils, les séances visent à nous libérer de nos anciennes mémoires, des influences extérieures, des jugements, de ce qui a façonné notre personnalité et qui, à la naissance nous a bloqué de notre réel Savoir et notre véritable Pouvoir d’Etre et d’Auto-Guérison.</p>
<p>Cela nous permet de libérer les informations que nous avons emmagasiné dans notre corps et notre mémoire depuis la période des 27 mois que forment les 9 mois avant notre conception, les 9 mois de grossesse, notre naissance et 9 mois après notre naissance.</p>
<p>La transmutation cellulaire agit aussi sur notre famille et notre environnement, permettant la dé-cristallisation des <strong>loyautés familiales invisibles ou des résonances avec d’autres personnes et lieux</strong>. Les séances agissent de façon <strong>transgénérationnelle, ascendante et descendante</strong>, jusqu’à <strong>5 générations</strong>, selon les dernières études scientifiques publiées en 2015.</p>
<!-- Section des bienfaits -->
<h2>Les bienfaits des séances</h2>
<p>Cette méthode offre un bien-être physique immédiat, mais c’est aussi une technique de développement personnel qui permet de s’éveiller à soi et d’aller vers un changement, de retrouver sa force de vie, son identité, son indépendance.</p>
<ul>
    <li>Reconnecte à la vie prénatale</li>
    <li>Reconnecte à son enfant intérieur</li>
    <li>Libère les noeuds énergétiques</li>
    <li>Favorise un apaisement et un lâcher-prise</li>
    <li>Favorise l'éveil de la puissance intérieure</li>
    <li>Facilite le passage de l’énergie</li>
    <li>Favorise un épanouissement de tout votre être qui retrouve son libre arbitre et sa capacité d’autonomie</li>
    <li>Permet de s’affranchir des schémas du passé qui conditionnent nos comportements et nos choix</li>
    <li>Donne accès à notre identité profonde et permet à notre vérité intérieure de se manifester</li>
    <li>Libère les mémoires transgénérationnelles</li>
    <li>Libère les mémoires cellulaires prénatales</li>
    <li>Libère les traumas liés à une grossesse et/ou une naissance</li>
    <li>Libère les lignées ascendantes et descendantes</li>
    <li>Libère des schémas répétitifs</li>
    <li>Changement profond au niveau des cellules qui se répercute sur notre état de bien-être</li>
    <li>Libère votre créativité</li>
    <li>Développe nos capacités</li>
    <li>Apprend à se connaitre, reprendre sa vie en main et exploiter son potentiel</li>
    <li>Certaines femmes ont pu libérer les mémoires intra-utérines suite à des accouchements difficiles, retrouver leurs règles disparues prématurément, avoir des enfants après avoir été diagnostiquées comme stériles ou avec de l’endométriose...</li>
</ul>
<img src="" alt="" />
<p>Dans le processus métamorphique, 1 seule séance peut suffire, il est cependant recommandé de faire un cycle de 7 séances (sur 1 trimestre).</p>
<p><strong>Le cycle de 7 séances</strong> permet au <strong>corps physique</strong>, aux <strong>corps subtils</strong> et aux champs quantiques et morphiques de <strong>manifester le changement à votre rythme.</strong></p>
<p>Les 3 premières séances font remonter les difficultés et mémoires négatives actualisées qui seront par la suite clarifiées dans les séances suivantes.</p>
<ul>
    <li>Les <strong>3 premières</strong> séances sont <strong>une régression</strong> dans les mémoires cellulaires</li>
    <li>La <strong>4ème séance</strong> représente <strong>le point de bascule</strong> qui amène le changement</li>
    <li>Les <strong>5e, 6e et 7ème séances</strong> font intervenir <strong>notre pouvoir créateur de métamorphose et de réparation.</strong></li>
</ul>
<!-- Section déroulement d'une séance -->
<h2>Déroulement d'une séance</h2>
<p>La séance agit par effleurements tout doux sur des points précis du corps physique et des corps subtils. Les zones traitées sont sur une partie des <strong>pieds</strong>, des <strong>mains</strong>, de la <strong>tête et de la colonne vertébrale</strong>.  L’énergie agit aussi sur la <strong>glande pinéale</strong> et <strong>pituitaire</strong>.</p>
<p>Les zones sur lesquelles les séances agissent :</p>
<ul>
    <li>Pieds</li>
    <li>Mains</li>
    <li>Tête</li>
    <li>Colonne vertébrale</li>
    <li>Thymus</li>
    <li>Glandes</li>
    <li>Bassin (naissance) et mémoires intra-utérines (gestation)</li>
    <li>Hémisphères crâniens</li>
    <li>Coeur et poumons</li>
</ul>
<p>Vous êtes allongé confortablement (<small><i>la séance se pratique habillée, sans chaussures ni chaussettes</i></small>) sur une table de massage, les yeux fermés, dans une détente progressive. Vous entrez en ondes cérébrales Alpha (repos), voire en ondes Theta (relaxation profonde).
<img src="" alt=""/>
<ul>
    <li>Le travail sur les pieds, <strong>centre du Mouvement</strong>, potentialise notre capacité à aller vers les autres, à oser nous lancer, à nous positionner et à avancer.</li>
    <li>Le travail sur les mains, <strong>centre de l’Action</strong>, améliore et libère notre capacité à agir et entreprendre, à nous engager et à saisir les opportunités, à nous assumer et à prendre en main notre destinée dans l’acte de donner, de recevoir, et d’embrasser la vie.</li>
    <li>Le travail sur la tête, <strong>centre de la Pensée</strong>, apporte le sens des réalités et une plus grande clarté d’esprit, une meilleure gestion de nos idées, un plus grand discernement, et facilite la prise de décision.</li>
</ul>
<p>En fonction de sa réceptivité, <strong>chaque personne réagit différemment</strong>. Le fait de ne rien ressentir ne signifie pas que la séance n’est pas bénéfique. Les ressentis peuvent également être différents d’une séance à l’autre. Les déblocages se font au fur et à mesure que l'Etre avance et se libère.</p>
<p>Certaines séances peuvent être suivies par la chromothérapie cristalline, permettant de dynamiser le champ d'énergie et de déprogrammer les mémoires enkystées.</p>
<!-- Section tarifs -->
<h2>TARIFS</h2>
<p>Durée d'une séance adulte (la 1ère séance dure 2h00, les suivantes 1h30) - Séance enfant (environ 50 min)</p>
<table>
    <tr>
        <th scope="row"><strong>Séance à l'unité adulte</strong> <small><i>1ère fois  / les suivantes ou parrainage</i></small></th>
        <td><strong>120€* / 90€</strong></td>
    </tr>
    <tr>
        <th scope="row">Cycle 7 séances adulte</th>
        <td><strong>555€*</strong></td>
    </tr>
    <tr>
        <th scope="row">Séance à l'unité enfant <small><i>(bébé à partir de 3mois, enfant, adolescent)</i></small></th>
        <td><strong>50€</strong></td>
    </tr>
</table>
<p><i><small>* Facilité de paiement - Paiements acceptés : espèces, chèque, carte bancaire, virement bancaire - *Ce tarif 1ère fois est récupérable sur le tarif cycle 7 séances.</small></i></p>
<p><i><small>* Tarif parrainage : 90€ au lieu de 120€, il suffit de m'indiquer le nom de la personne qui est déjà venu me voir en séance. Le tarif carte cadeau pour cette séance-ci est applicable en parrainage aussi.</small></i></p>
<img src="" alt=""/>
<p>Carte cadeau en vente par mail : cecilia.gampp@gmail.com</p>
{{ include("partials/_contact.html.twig") }}
{% endblock %}