{% extends 'base.html.twig' %}

{% block title %}
	Contactez-moi
{% endblock %}

{% block content %}
<h2>Contact</h2>
<form>
    <label for="form-lname">Nom *</label>
    <input type="text" id="form-lname" name="form-lname" required><br>
    <label for="form-fname">Prénom *</label>
    <input type="text" id="form-fname" name="form-fname" required><br>
    <label for="form-title">Titre *</label>
    <input type="text" id="form-title" name="form-title" required><br>
    <label for="form-message">Message *</label>
    <textarea id="form-message" name="form-message" rows="8" required></textarea><br>
    <input type="submit" value="ENVOYER">
</form>
<p>Les informations saisies sur ce formulaire seront communiquées au propriétaire de ce blog via email. Vous pouvez exercer vos droits relatifs à vos données personnelles (accès, effacement, rectification, portabilité…) directement depuis ce formulaire contact. Le propriétaire du blog est informé qu’il dispose d’ un mois pour vous répondre. Pour en savoir plus sur la protection de vos données personnelles, <a href="https://www.over-blog.com/privacy-policy">cliquez ici</a>.</p>
{% endblock %}