{% extends 'base.html.twig' %}

{% block title %}
	Informations légales
{% endblock %}

{% block main %}
<p>Merci à toutes les personnes qui apportent chaque jour leur témoignage que je retranscris ici anonymement :</p> 

<!--"A mon niveau je vous remercie pleinement pour cette séance qui m'a totalement détendu, je n'ai plus de boules d'angoisse"
"Je me sens mieux physiquement, le sommeil est revenu à la normale, pas de rêve, pas de cauchemar, je reviendrai vers vous pour ma prochaine séance, un grand merci"
"Parfait un grand merci, et félicitation pour tout ce que vous faites"
"Le moral est en hausse depuis longtemps ça n'était pas arrivé... il y a plein de chose qui ont changé"
"Cécilia je ne vois que du positif, je ressens des choses que je ne connaissais pas ou plus, c'est impressionnant, c'est incroyable, j'ai ressenti plein de choses aussi bien physiquement et moralement, c'est un renouveau pour moi complètement"
"Merci Cécilia, ...un autre ressenti pendant la séance quand vous m'avez joint les 2 pieds, une grosse chaleur qui est arrivée dans toute ma tête..."
"Merci Cécilia, la séance a bien fonctionné pour moi, il est temps de consolider avec une autre séance"
"Bonjour cécilia, petit retour après les 3 séances. Je la sents bien, je trouve ma place dans la maison (ce qui n'était pas forcément le cas), avec ma fille c'est plus fluide et mon chéri change, s'ouvre, est posé et il m'a même fait un très beau cadeau qui jusqu'à présent était inimaginable... plutôt cool tout ça"
"Bonjour cécilia, je ressens bien les effets de la séance, j'ai retrouvé de l'énergie dans mes jambes"
"Tu es une belle personne Cécilia, la séance m'a fait du bien, je suis heureux de te connaitre et je suis heureux d'avoir une petite terre diamant, merci"
"Merci encore pour la séance Cécilia. Là je me sens très sereine et légère"
"C'est super comme séance, c'est juste incroyable ce qui se passe pendant, j'ai même voulu retirer mon masque car je sentais plusieurs mains comme si vous étiez plusieurs, c'est incroyable"
"C'est un enveloppant d'une très grande douceur, votre touché est tellement plein d'amour, un grand merci, j'aurai voulu que ça dure des heures"
"La séance au tambour chamanique près des Menhirs était très puissante, je me reconnecte depuis à mon essence pure, je suis en cheminement vers beaucoup plus, un grand merci cécilia"-->

<p>Beaucoup de témoignages sur les divers réseaux sociaux, tout n'est pas retranscrit ici. Voir également sous chaque article.</p>
{% endblock %}