{% extends 'base.html.twig' %}

{% block title %}
	Informathèque
{% endblock %}

{% block content %}
<h2>L'art de cheminer</h2>
<p>Je partage ici quelques informations pour vous permettre de cheminer.</p>
<p>Des sujets, conférences, films, documentaires, livres.</p>
<p>Pour développer votre conscience intérieur, pour éveiller votre conscience primordiale.</p>
<p>Afin de continuer ce chemin de qui vous êtes, faites l'expérience d'entrer dans le moment présent, le véritable voyage est là, en nous.</p>
<p>*Voici le site ou je me procure tous les articles de mise à la terre et de protection : <a href="https://inalterra.fr?sca_ref=7468829.IM1bvr7QQh" class="link">https://inalterra.fr?sca_ref=7468829.IM1bvr7QQh</a> J'ai obtenu un partanariat rémunéré pour vous avec ce code promotionnel de 10% : <strong>cecilia10</strong></p>
<!-- Espace livres -->
<h2>Livres</h2>
<p>Ouvrages que j'ajoute au fur et à mesure...</p>
<img src="" alt="" />
<!-- Espace conférences -->
<h2>Conférences</h2>
<!-- Espace documentaires -->
<h2>Documentaires</h2>
<p>Le pouvoir de la pensée, le pouvoir du VERBE... la transformation de l'être...</p>
<p>Quand je vous parle de la glande pinéale en séance...</p>
<p>La programmation humaine et la mémoire cellulaire</p>
<!-- Espace films -->
<h2>Films</h2>
{% endblock %}